<div class="center jumbotron">
  <h1>Welcome to DailyCents</h1>

  <h2>This is the home page for the DailyCents application.</h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
