<footer class="footer">
  <small>Making cents out of your finances.</small>
  <nav>
    <ul>
      <li><a href="https://twitter.com/dailycentsapp" target="_blank"><%= icon('twitter') %> Twitter</a></li>
    </ul>
  </nav>
</footer>
