<% if @accounts %>
  <ul>
    <% @accounts.each do |account| %>
      <li><%= account.name %> | <%= account.balance %></li>
    <% end %>
  </ul>
<% else %>
  TODO: list some accounts that have been aggregated
<% end %>

